<h1>@ngrx/store Demo</h1>

<ng-container *ngIf="vm$ | async as vm">
    <h3>
        <span>Search bar:</span>
        <input
            type="text"
            placeholder="search by first name"
            [ngModel]="vm.search.firstName"
        />
    </h3>

    <table>
        <thead>
            <tr>
                <th>number</th>
                <th>first name</th>
                <th>last name</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="!vm.loading.list; else loadingTmpl">
                <tr *ngFor="let item of vm.users">
                    <td> {{item.id }} </td>
                    <td> {{item.firstName }} </td>
                    <td> {{item.lastName }} </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-container>

<ng-template #loadingTmpl>
    <tr class="loading">
        <td colspan="3">loading ...</td>
    </tr>
</ng-template>