ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;

    background-color: rgb(78, 78, 138);
    color: white;

    li {
        text-transform: underline;
        cursor: pointer;
        padding: 10px 20px;

        &.router-link-active {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}
